.toast-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.grid-item {
	width: 100px;
	height: 30px;
	font: bold;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: bisque;
	cursor: pointer;
}
